@use "@/styles/breakpoints" as *;
@use "@/styles/fonts" as *;

.mainWrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  height: 100vh;

  @include respond-to("tablet") {
    padding: 32px;
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(31, 31, 31);
  text-align: center;
  position: relative;
  width: 100%;
  padding: 20px 32px;

  @include respond-to("tablet") {
    border-radius: 30px;
  }

  @include respond-to("desktop") {
    width: 600px;
    padding: 40px;
  }
}

.rightBox {
  display: none;
  @include respond-to("desktop") {
    display: flex;
  }
}

.logoWrapper {
  position: absolute;
  top: 20px;
  left: 32px;
  height: 10px;
  width: 20px;

  @include respond-to("desktop") {
    top: 20px;
    left: 64px;
    height: 10px;
    width: 40px;
  }
}

.logoBox {
  display: flex;
  text-transform: uppercase;
  gap: 12px;
  width: 300px;
  font-size: $font-xxs;

  @include respond-to("desktop") {
    font-size: $font-xs;
  }
}

.title {
  font-size: $font-5xl;
  @include respond-to("desktop") {
    font-size: $font-5xl;
  }
}

.text {
  font-size: $font-2xl;
  @include respond-to("desktop") {
    font-size: $font-2xl;
  }
}

.formTitle {
  display: none;

  @include respond-to("tablet") {
    display: block;
    font-size: $font-xl;
    font-weight: 500;
    margin-bottom: 14px;
  }

  @include respond-to("desktop") {
    font-size: $font-3xl;
  }
}

.authBox {
  padding: 16px;
  max-width: 500px;

  @include respond-to("desktop") {
    padding: 24px;
  }
}

.formSubTitle {
  font-size: $font-sm;
  font-weight: 500;

  @include respond-to("desktop") {
    font-size: $font-md;
  }
}

.input {
  height: 14px;
}
